body {
  font-family: Arial;
  background: #f0f4f8;
}

.dashboard-container {
  padding: 20px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.card {
  width: 280px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.header {
  background: #4da3ff;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-weight: bold;
}

.value {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  animation: fadeIn 1s ease;
}

.time {
  color: #555;
  font-size: 14px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}



.graph-button {
  margin-top: 30px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(270deg, #ff6a00, #ee0979, #00eaff, #1041e3);
  background-size: 800% 800%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: gradientAnimation 8s ease infinite;
}

.graph-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 25px rgba(0,0,0,0.3);
}

@keyframes gradientAnimation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

